In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('~/Pranav/MachineLearning/DataSets/Pokemon.csv')

In [13]:
print(df)

                      Name   Type 1  Type 2  Total  HP  Attack  Defense  \
#
1                Bulbasaur    Grass  Poison    318  45      49       49
2                  Ivysaur    Grass  Poison    405  60      62       63
3                 Venusaur    Grass  Poison    525  80      82       83
3    VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4               Charmander     Fire     NaN    309  39      52       43
..                     ...      ...     ...    ...  ..     ...      ...
719                Diancie     Rock   Fairy    600  50     100      150
719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
#
1         65       65     45           1      False
2         80       80     60           1      False
3        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
719      100      150     50           6       True
719      160      110    110           6       True
720      150      130     70           6       True
720      170      130     80           6       True
721      130       90     70           6       True

[800 rows x 12 columns]

In [3]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [5]:
df = pd.read_csv('~/Pranav/MachineLearning/DataSets/Pokemon.csv')
df.set_index('#')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [6]:
df = pd.read_csv('~/Pranav/MachineLearning/DataSets/Pokemon.csv', index_col='#')
df.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [10]:
Leg_type = df.dtypes['Legendary']
print(Leg_type)

bool

In [12]:
print(len(df[df['Legendary'] == True]))

65

In [15]:
print(df.dtypes['Generation'])

int64

In [19]:
df.loc[df['Total'] >= 600, 'Legendary'] = True

In [22]:
df.loc[df['Name'].str.contains("Mega"), "Legendary"] = False

In [86]:
for index, row in df.iterrows() :
    name = row['Name']
    Legendary = row['Legendary']
    if Legendary == True :
        df.loc[df['Name'].str.contains(name), 'Legendary'] = True
df[df['Legendary'] == True].head(10)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
149,Dragonite,Dragon,Flying,600,91,134,95,100,100,80,1,True
150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
151,Mew,Psychic,NaN,600,100,100,100,100,100,100,1,True
243,Raikou,Electric,NaN,580,90,85,75,115,100,115,2,True
244,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True

In [85]:
df[df['Name'].str.contains("Mew")].loc["Legendary"] = True
print(df[df['Name'].str.contains("Mew")])

                    Name   Type 1    Type 2  Total   HP  Attack  Defense  \
#
150               Mewtwo  Psychic       NaN    680  106     110       90
150  MewtwoMega Mewtwo X  Psychic  Fighting    780  106     190      100
150  MewtwoMega Mewtwo Y  Psychic       NaN    780  106     150       70
151                  Mew  Psychic       NaN    600  100     100      100

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
#
150      154       90    130           1       True
150      154      100    130           1      False
150      194      120    140           1      False
151      100      100    100           1       True

/home/pranav/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [79]:
df[df['Legendary'] == True].head(20)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
149,Dragonite,Dragon,Flying,600,91,134,95,100,100,80,1,True
150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
151,Mew,Psychic,NaN,600,100,100,100,100,100,100,1,True
243,Raikou,Electric,NaN,580,90,85,75,115,100,115,2,True
244,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True
245,Suicune,Water,NaN,580,100,75,115,90,115,85,2,True
248,Tyranitar,Rock,Dark,600,100,134,110,95,100,61,2,True
249,Lugia,Psychic,Flying,680,106,90,130,90,154,110,2,True
250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
251,Celebi,Psychic,Grass,600,100,100,100,100,100,100,2,True
289,Slaking,Normal,NaN,670,150,160,100,95,65,100,3,True
373,Salamence,Dragon,Flying,600,95,135,80,110,80,100,3,True
376,Metagross,Steel,Psychic,600,80,135,130,95,90,70,3,True
377,Regirock,Rock,NaN,580,80,100,200,50,100,50,3,True
378,Regice,Ice,NaN,580,80,50,100,100,200,50,3,True
379,Registeel,Steel,NaN,580,80,75,150,75,150,50,3,True
380,Latias,Dragon,Psychic,600,80,80,90,110,130,110,3,True

In [67]:
len(df)

800

In [45]:
df.head(20)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False
15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False